.container-fluid {
  padding: 60px 50px;
  
}
.Cinema-label {
  color: silver;
  font-size: 4vw;
  font-weight: bold;
  margin: 20px;
}

h1{
    font-weight: bolder;
    font-size: 5vw;
  } 
  .text-center h2{
    font-weight: bolder;
    font-size: 6vw;
    color: silver;
  } 

  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }

  .panel {
    border: 1px solid blue; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel-body {
      padding-bottom: 5px;
      background-color: white;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid blue;
    background-color: #fff !important;
    color: blue;
  }
  .panel-heading {
    color: #fff !important;
    background-color: blue !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: rgb(250, 248, 248) !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: blue;
    color: #fff;
  }